.header-menu-container ul li:first-child + li + li + li + li + li { /* This should work for IE 8, means -> li:last-child */
	border: 0px;
}

.header-menu-container ul li:first-child + li + li + li + li { /* This should work for IE 8, means --> nth-child(5) */
	background: url('images/search-icon.png') center left no-repeat;
	padding-left: 17px;
	margin-left: 10px;
}

.header-menu-container ul li:first-child + li + li + li + li:hover {
	background: url('images/search-icon-hover.png') center left no-repeat;
}

.page-left-menu ul li {
	font-size: 0.8em;
}